<template>
  <div class="todo-app">
    <h1>{{ msg }}</h1>
    <input type="textbox" id="todo-textbox" placeholder="Add your todo here" v-model="post.todo">
    <br />
    <button id="todo-addButton" @click="addTodo">Add Todo</button>
    <ul id="todo-list" class="todo-list">
      <li v-for="(todo, index) in todos" :key="index" :id="`todoList-${index}`">
          {{todo.todo}}
      </li>
    </ul>
   
  </div>
</template>

<script>
import {getTodoItems , postTodoItem} from "../api"
let apiUrl;

if (
    window.location.href === 'http://34.78.1.142/' ||
    'http://localhost:8080/'
)
    apiUrl = 'http://34.79.241.123';
else apiUrl = 'http://35.247.59.150';



export default {
  name: 'Todo',
  props: {
    msg: String
  },
  data() {
    return{
      todos: [],
      post: {
        todo: "",
      },
    }
  },
  async created() {
    console.log("created")
		await this.getTodos();
	},
  methods: {
    async getTodos() {
			try {
        console.log("method")
				const res = await getTodoItems(apiUrl);
				this.todos = res.data.todos;
			} catch (err) {}
		},
    async addTodo() {
			await postTodoItem(apiUrl, this.post);
			this.getTodos();
      this.post.todo = ""
		
		},
  }
}
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped>

</style>
